/**
 *
 * @version
 * @author: ambily.tv
 * @create date: 2020-03-10
 *
 * Custom button with loading
 */

.userSpinner {
  width: 1rem !important;
  height: 1rem !important;
  color: none !important;
}

.usrBtn {
  background-color: #132845 !important;
  border-color: #132845 !important;
}

.addBtn {
  padding: 0.25rem 2rem !important;
}
