/* Global variables*/
$primary-color: #009ca2;
$secondary-color: #e4e5e7;
$error-color: #ff0000;
$bg-color: #4f5b66;
$default-color: #0069d9;
$icon-color: #e86025;
$theme-light: #efefef;
$theme-light-odd: #b1abab;
$theme-light-even: #d2d2d2;
$theme-dark: #000000;
$theme-danger: #ff2c00;
$theme-success: #28a745;

/*button variables*/
$add-btn-color: #5c7081;
$edit-btn-color: #6e160d;
$remove-btn-color: #ff2c00;
$default-btn-color: #0069d9;
$login-btn-color: #ffd500;
$header-btn-color: #007bff;

/* Galaxy chart css */
$root: #2a7ab0;
$leaf: #955fc6;
$stroke: 4;
$divider-color: black;
$white: white;
$primary-text-color: blue;
$black: black;

@mixin container {
  display: flex;
  align-items: center;
}
